
body{
background-color: lightgrey;
color: black;

}
h1{
	text-align: center;
  font-size: 35px;
}
.image {
  background: url("./images/main.jpg");
  background-color: #cccccc;
  height: 50vh;
  flex-basis: 27%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.5px;

}
/*shadow
.image::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 10px 10px 200px  grey;
}
*/
.tharun {
  text-align: top;
  color:black;
  position: absolute;
  font-style: italic;
  font-weight: 100px;
  top: 35%;
  left: 60%;
  z-index: 2;
 
}
.tharun h1{
  font-family: monospace;
  font-size-adjust: none;
  color: whitesmoke;
}

.icons ul{
  text-align: center;
  list-style: inline;
  list-style: none;
  padding: 0 50px 0 0;


}
.icons li{
  display: inline;
  padding: 50px 5px 0 5px;
}

.section p{
  text-align: center;

}
.artcle .img{
    text-align: center;
    border-radius: 15px;
   

}

#details ul{
  padding: 10px;
  border: 10px;
  text-align: center;


}
#details li{
    list-style: none;

}
.skills h1{
    text-align: center;
    text-shadow: black;
    font-size: 35px;

}
.skills p{
    text-align: center;
}

.technology li{
  text-align: center;
  list-style: none;
  padding: 10px ;
  border: 10px;
  margin: 10px;
  display: inline;
  border-image: 20px;
  font-size: 25px;
}
.technology  img{
  padding: 0 0 0 20px;
  width: 30px;
}



@media(min-width: 768px){
.image{
  float: right;
  width: 100%;
  height: 100vh;
}
.tharun {
  text-align: top;
  color:black;
  position: absolute;
  font-style: italic;
  font-weight: 100px;
  top: 65%;
  left: 60%;
  font-size: 30px;
 
}
.tharun h1{
  font-family: monospace;
  font-size-adjust: none;
  color: whitesmoke;
  font-size: 50px;
}
.img{
  width: 50%;
  margin-left: 340px;
}


}
